<!DOCTYPE html>
<html>
<head>
    <br>
    <br>
    <br>
    <h1 class="center_text">Music from Saudi Arabia</h1>
</head>
<body>
    <br>
    <br>
    <br>
   
    
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video_id %>?rel=0" frameborder="0" allowfullscreen style="margin-left:25%; !important"></iframe>
    </div>
</body>   
      
</html>